form {
    background-color: black;
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    border: 2px solid #9400D3;
    border-radius: 10px;
    box-shadow: 0 0 10px #9400D3;
  }
  
  h2 {
    text-align: center;
    color: #9400D3;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #9400D3;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: #9400D3;
  }
  
  button[type="submit"] {
    background-color: #9400D3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #6600CC;
  }
  