@import url('./../node_modules/bootstrap/dist/css/bootstrap.min.css');

body {
    padding: 0;
    margin: 0;
    background: url('/img/neon_body_background.png') center center / cover no-repeat;
    min-height: 100vh;
}

#root {
    backdrop-filter: blur(2px);
}

.btn.btn-pink {
    --bs-btn-bg: #eb6573;
    --bs-btn-border-color: #eb6573;
}