@import url('./../node_modules/bootstrap/dist/css/bootstrap.min.css');

body {
    background: url('./../public/img/neon_body_background.png') center center / cover no-repeat;
}

#root {
    backdrop-filter: blur(2px);
}

.btn.btn-pink {
    --bs-btn-bg: #eb6573;
    --bs-btn-border-color: #eb6573;
}